body {
	width: 100%;
	height: 400px;
	background-image: url("download.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.login {
	display: block;
	border-radius: 20px;
	height: 600px;
	width: 500px;
	margin: 100px 0px 200px 400px;
	padding: 20px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 18px;
}

.home {

	align-items: center;
	min-height: 100vh;

	background-position: center;
}